@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import "reset.css";

@import "components/variables.css";
@import "screen/login.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "screen/friends.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "screen/find.css";
@import "components/icon-row.css";
@import "screen/more.css";
@import "components/alt-screen-header.css";
@import "screen/settings.css";
@import "screen/chat.css";
@import "components/splash-screen.css";
@import "components/no-mobile.css";

body {
    color: #2e363e;
    font-family: "Oswald", sans-serif;
    height: 200vh;
}

.main-screen{
    padding: 0px var(--horizontal-space);
}