@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import "reset.css";

@import "screen/login.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "screen/friends.css";

body {
    color: #2e363e;
    font-family: "Oswald", sans-serif;
    height: 1000vh;
}