#chat-screen {
    background-color: #abc1d1;
    height: 200vh;
}

#chat-screen .alt-header{
    top: 0;
    position:fixed;
    width: 100%;
    box-sizing:border-box;
    margin-top:20px;
    background-color:#abc1d1;
}

#chat-screen .status-bar{
    z-index: 2;
}

.main-chat{
    margin-top:110px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp{
    display: flex;
    font-size: 15px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    padding: 8px;
    border-radius: 25px;
    margin-bottom:10px;
}

@keyframes message-pop-left{
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes message-pop-right{
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.message-row{
    width: 100%;
    display: flex;
    opacity: 0;
    transform: translateX(-30px);
    margin-bottom: 20px;
}
.message-row:nth-child(even){
    animation: message-pop-left 1s ease-in-out forwards;
}

.message-row:nth-child(odd){
    animation: message-pop-right 1s ease-in-out forwards;
    justify-content: flex-end;
}
.message-row:nth-child(3){
    animation-delay: 1s;
}
.message-row:nth-child(4){
    animation-delay: 2s;
}

.message-row img{
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin-right: 10px;
}

.message__author,
.message__time{
    opacity: 0.8;
    font-size: 13px;
    margin-right: 5px;
}

.message__author {
    margin-bottom: 10px;
    display: block;
}
.message__bubble{
    background-color: white;
    padding: 10px;
    border-radius: 13px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message-row:nth-child(odd) .message__bubble{
    border-top-left-radius: 13px;
    border-top-right-radius: 0px;
    background-color: yellow;
    order: 1;
}
.message-row:nth-child(odd) .message__time{
    order: 0;
}

.message__info{
    display: flex;
    align-items: flex-end;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.reply i{
    opacity: 0.7;
}
.reply__column button i{
    opacity: 1;
}
.reply .reply__column:first-child{
    width: 10%;
}
.reply .reply__column:last-child{
    width: 90%;
    position:relative;
}

.reply input{
    height: 45px;
    width: 100%;
    border: var(--grey-border);
    border-radius: 20px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    font-size: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: 4px;
    bottom: 9px;
}

.reply__column:last-child > i{
    right: 40px;
    top:13px;
}

.reply__column button{
    background-color: yellow;
    border: none;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button{
    transition: opacity .4s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input{
    width: 95vw;
    transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within{
    transform: translateY(80px);
}