.badge{
    background-color: tomato;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-weight: 400;
}

.small-badge{
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-weight: 400;
}

.small-badge-place{
    position: absolute;
    left:30px;
    bottom:25px;
}